microblink-ui-web{
--mb-loader-background-color: white;
--mb-btn-intro-circle-color-hover: rgb(78, 129, 205);
--mb-btn-intro-circle-color: rgb(78, 129, 205);
--mb-btn-intro-stroke-color: white;
--mb-hem: 1.1rem;
}

h1{
  text-align: center;
}

.translate-label{
  font-weight: bold;
  font-size: 1rem;
  color: rgb(78, 129, 205);
}





